@import url(https://fonts.googleapis.com/css?family=Asap+Condensed);

:root{
    --white-color: #EFEFE7;
    --primary-color: #3b91d3;
    --info-color: #292a3d;
    --success-color: #47a677;
    --warning-color: #c4963f;
    --danger-color: #f44336;
}

html, body {
    font-family: 'Asap Condensed', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: var(--white-color);

}

header {
    flex-shrink: 0;
    padding-left: calc(20% - 50px);
    padding-right: calc(20% - 50px); 
}
header ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
}

main {
    flex: 1;
    display: flex;
    flex-direction: row;  
    margin-left: calc(20% - 50px);
    margin-right: calc(20% - 50px);  
}

footer {
    flex-shrink: 0;
    padding-left: calc(20% - 50px);
    padding-right: calc(20% - 50px); 
}


article {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

article img {
    max-width: 100%;    
    min-height: 250px;
    object-fit: cover;
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
}

article .article-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

article .article-title p {
    text-align: justify;
    text-justify: inter-word;
}


article .article-content {
    grid-column-start: 1;
    grid-column-end: 3;
}